# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kip
DB_USER=postgres
DB_PASSWORD=your_password

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=sua_chave_secreta_super_segura_aqui_mude_em_producao

#CORS
CORS_ORIGIN=http://localhost:8080,http://localhost:3000


BREVO_API_KEY=sua_chave_api
BREVO_SENDER_EMAIL=seu_email@seudominio.com
FRONTEND_URL=http://localhost:8080
